/*---------------------------
	Font family
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*------------------------------------------------------------------
1. General
----------------------------------------------------------------*/
/* Theme Reset Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  scroll-behavior: unset;
}

body {
  font-size: 17px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

ul,
li,
ol,
p {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Global Elements */
p {
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.dark_sidebar {
  background: #0F172A;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: 22px;
  padding-right: 20px;
  position: fixed;
  width: 250px;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 12px 30px rgba(80, 143, 244, 0.1);
  transition: 0.3s;
}
.dark_sidebar .logo {
  margin-bottom: 28px;
}

.sidebar #sidebar_menu > li {
  margin-bottom: 10px;
}
.sidebar #sidebar_menu > li a {
  padding: 4px 10px;
  transition: 0.3s;
  position: relative;
  z-index: 0;
  display: grid;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  position: relative;
  background: transparent;
  color: #8F91AA;
  border-radius: 0;
}
.sidebar #sidebar_menu > li a .nav_icon_small {
  width: -moz-fit-content;
  width: fit-content;
}
.sidebar #sidebar_menu > li a .nav_icon_small svg {
  transition: color 0.3s ease;
}
.sidebar #sidebar_menu > li a .nav_icon_small svg path {
  transition: color 0.3s ease;
}
.sidebar #sidebar_menu > li a .nav_title {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease;
}
.sidebar #sidebar_menu > li a::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #4F46E5;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.sidebar #sidebar_menu > li a.has_arrow::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(315deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transition: transform 0.3s ease;
}
.sidebar #sidebar_menu > li a.active, .sidebar #sidebar_menu > li a:hover {
  background: #151C3D;
}
.sidebar #sidebar_menu > li a.active .nav_title, .sidebar #sidebar_menu > li a:hover .nav_title {
  color: rgb(79, 70, 229);
}
.sidebar #sidebar_menu > li a.active .nav_icon_small svg, .sidebar #sidebar_menu > li a:hover .nav_icon_small svg {
  color: #4F46E5;
}
.sidebar #sidebar_menu > li a.active .nav_icon_small svg path, .sidebar #sidebar_menu > li a:hover .nav_icon_small svg path {
  color: #4F46E5;
  stroke: #4F46E5;
}
.sidebar #sidebar_menu > li a.active::before, .sidebar #sidebar_menu > li a:hover::before {
  opacity: 1;
  visibility: visible;
}
.sidebar #sidebar_menu > li a.active.has_arrow::after, .sidebar #sidebar_menu > li a:hover.has_arrow::after {
  transform: translateY(-50%) rotate(404deg);
  border: solid rgb(79, 70, 229);
  border-width: 0 2px 2px 0;
}
.sidebar #sidebar_menu > li .category_title {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
.sidebar #sidebar_menu > li .settings_title {
  margin-top: 35px;
}

.dashboard_part {
  padding-left: 250px;
}
.dashboard_part .header_iner {
  padding: 20px 30px 15px;
  border-bottom: 1px solid rgb(226, 232, 240);
}

.header_right {
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 70%;
  justify-content: flex-end;
}

.custom-breadcrumb {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.custom-breadcrumb li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: rgb(97, 107, 128);
}
.custom-breadcrumb li span {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: rgb(13, 13, 13);
}

.admin_dropdown .profile_dropdown {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
  border: none;
  outline: none;
  background: transparent;
}
.admin_dropdown .profile_dropdown::after {
  display: none;
}
.admin_dropdown .profile_dropdown .admin_image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.admin_dropdown .profile_dropdown .info {
  text-align: left;
}
.admin_dropdown .profile_dropdown .info .wellcome {
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  color: rgb(101, 101, 101);
  text-align: left;
  display: block;
}
.admin_dropdown .profile_dropdown .info .admin_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgb(13, 13, 13);
}
.admin_dropdown .profile_dropdown .info .admin_name img {
  margin-left: 5px;
}
.admin_dropdown .dropdown-menu {
  padding: 0;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0px;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);
}
.admin_dropdown .dropdown-menu li:last-child .dropdown-item {
  border-bottom: none;
}
.admin_dropdown .dropdown-menu .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid rgb(226, 232, 240);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.admin_dropdown .dropdown-menu .dropdown-item img {
  margin-right: 8px;
}
.admin_dropdown .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: rgb(79, 70, 229);
}

.flag_dropdown_wrapper .flag_dropdown {
  padding: 7px 15px 7px 8px;
  border: 1px solid rgb(226, 232, 240);
  outline: none;
  background: rgb(248, 250, 252);
  position: relative;
}
.flag_dropdown_wrapper .flag_dropdown::after {
  border: none;
  background-image: url("/assets/images/icons/dropdown-arrow.svg");
  border: none;
  background-image: url("/assets/images/icons/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 12px;
  vertical-align: 0;
  margin-left: 15px;
}
.flag_dropdown_wrapper .flag_dropdown .arrow-icon {
  margin-left: 14px;
  position: absolute;
}

.notification_dropdown_wrapper .notification_dropdown_btn {
  border: 1px solid rgb(226, 232, 240);
  outline: none;
  background: rgb(248, 250, 252);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification_dropdown_wrapper .notification_dropdown_btn::after {
  display: none;
}
.notification_dropdown_wrapper .dropdown-menu {
  padding: 0;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0px;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);
}
.notification_dropdown_wrapper .dropdown-menu li:last-child .dropdown-item {
  border-bottom: none;
}
.notification_dropdown_wrapper .dropdown-menu .title {
  background: rgb(15, 23, 42);
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.notification_dropdown_wrapper .dropdown-menu .see_all_notificaiton a {
  text-align: center;
  color: rgb(79, 70, 229);
  transition: all 0.3s ease;
}
.notification_dropdown_wrapper .dropdown-menu .see_all_notificaiton a:hover {
  text-decoration: underline;
}
.notification_dropdown_wrapper .dropdown-menu .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid rgb(226, 232, 240);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.notification_dropdown_wrapper .dropdown-menu .dropdown-item img {
  margin-right: 8px;
}
.notification_dropdown_wrapper .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: rgb(79, 70, 229);
}

.serach_field_area {
  max-width: 225px;
  width: 100%;
}
.serach_field_area .search_field {
  position: relative;
  max-width: 225px;
}
.serach_field_area .search_field .search-image {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.serach_field_area .search_field input {
  border: 1px solid rgb(226, 232, 240);
  outline: none;
  background: rgb(248, 250, 252);
  border-radius: 4px;
  padding: 11px 18px 11px 35px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: rgb(97, 107, 128);
  width: 100%;
}/*# sourceMappingURL=style.css.map */