.dark_sidebar {
    background: #0F172A;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 99;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 22px;
    padding-right: 20px;
    position: fixed;
    width: 250px;
    z-index: 999;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 12px 30px rgba(80, 143, 244, 0.1);
    transition: .3s;

    .logo {
        margin-bottom: 28px;
    }
}

.sidebar {
    #sidebar_menu>li {
        margin-bottom: 10px;
        a {
            padding: 4px 10px;
            transition: .3s;
            position: relative;
            z-index: 0;
            display: grid;
            display: flex;
            column-gap: 10px;
            align-items: center;
            position: relative;
            background: transparent;
            color: #8F91AA;
            border-radius: 0;

            .nav_icon_small {
                width: fit-content;

                svg {
                    transition: color 0.3s ease;

                    path {
                        transition: color 0.3s ease;
                    }
                }
            }

            .nav_title {
                font-size: 12px;
                font-weight: 600;
                color: #fff;
                transition: all 0.3s ease;
            }

            &::before {
                content: "";
                position: absolute;
                left: -20px;
                top: 0;
                bottom: 0;
                width: 3px;
                background: #4F46E5;
                transition: all 0.3s ease;
                opacity: 0;
                visibility: hidden;
            }

            &.has_arrow {
                &::after {
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%) rotate(315deg);
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    padding: 3px;
                    transition: transform 0.3s ease;
                }
            }

            &.active,
            &:hover {
                background: #151C3D;

                .nav_title{
                    color: rgba(79, 70, 229, 1);
                }

                .nav_icon_small {
                    svg {
                        color: #4F46E5;

                        path {
                            color: #4F46E5;
                            stroke: #4F46E5;
                        }
                    }
                }

                &::before {
                    opacity: 1;
                    visibility: visible;
                }

                &.has_arrow {
                    &::after {
                        transform: translateY(-50%) rotate(404deg);
                        border: solid rgba(79, 70, 229, 1);
                    border-width: 0 2px 2px 0;
                    }
                }

            }

        }

        .category_title {
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.7);
            display: block;
            margin-bottom: 10px;
            margin-top: 20px;
            margin-left: 10px;
        }
        .settings_title{
            margin-top: 35px;
        }
    }
}