.dashboard_part {
    padding-left: 250px;

    .header_iner {
        padding: 20px 30px 15px;
        border-bottom: 1px solid rgba(226, 232, 240, 1);
    }
}
.header_right {
    column-gap: 15px;
    width: 70%;
    justify-content: flex-end;
}
// Dashboard Breadcrumb
.custom-breadcrumb {
    display: flex;
    align-items: center;
    column-gap: 3px;

    li {
        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            color: rgba(97, 107, 128, 1);
        }

        span {
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            color: rgba(13, 13, 13, 1);
        }
    }
}

// Admin Dropdown
.admin_dropdown {
    .profile_dropdown {
        display: flex;
        align-items: center;
        column-gap: 13px;
        border: none;
        outline: none;
        background: transparent;

        &::after {
            display: none;
        }

        .admin_image {
            width: 40px;
            height: 40px;
            min-width: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .info {
            text-align: left;

            .wellcome {
                font-weight: 400;
                font-size: 11px;
                line-height: 11px;
                color: rgba(101, 101, 101, 1);
                text-align: left;
                display: block;
            }

            .admin_name {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: rgba(13, 13, 13, 1);

                img {
                    margin-left: 5px;
                }
            }
        }

    }

    .dropdown-menu {
        padding: 0;
        border: 1px solid rgba(226, 232, 240, 1);
        border-radius: 0px;
        box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);

        li {

            &:last-child {
                .dropdown-item {
                    border-bottom: none;
                }
            }
        }

        .dropdown-item {
            padding: 10px;
            border-bottom: 1px solid rgba(226, 232, 240, 1);
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;

            img {
                margin-right: 8px;
            }

            &:hover {
                background: transparent;
                color: rgba(79, 70, 229, 1);
            }
        }
    }
}

// flag dropdown
.flag_dropdown_wrapper {
    .flag_dropdown {
        padding: 7px 15px 7px 8px;
        border: 1px solid rgba(226, 232, 240, 1);
        outline: none;
        background: rgba(248, 250, 252, 1);
        position: relative;

        &::after {
            border: none;
            background-image: url('/assets/images/icons/dropdown-arrow.svg');
            border: none;
            background-image: url('/assets/images/icons/dropdown-arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 12px;
            height: 12px;
            vertical-align: 0;
            margin-left: 15px;
        }

        .arrow-icon {
            margin-left: 14px;
            position: absolute;

        }

    }
}

// notification dropdown
.notification_dropdown_wrapper {
    .notification_dropdown_btn {
        border: 1px solid rgba(226, 232, 240, 1);
        outline: none;
        background: rgba(248, 250, 252, 1);
        border-radius: 100%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            display: none;
        }
    }

    .dropdown-menu {
        padding: 0;
        border: 1px solid rgba(226, 232, 240, 1);
        border-radius: 0px;
        box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);

        li {

            &:last-child {
                .dropdown-item {
                    border-bottom: none;
                }
            }
        }

        .title {
            background: rgba(15, 23, 42, 1);
            text-align: center;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }

        .see_all_notificaiton {
            a {
                text-align: center;
                color: rgba(79, 70, 229, 1);
                transition: all 0.3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .dropdown-item {
            padding: 10px;
            border-bottom: 1px solid rgba(226, 232, 240, 1);
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;


            img {
                margin-right: 8px;
            }

            &:hover {
                background: transparent;
                color: rgba(79, 70, 229, 1);
            }
        }
    }
}

// serach field area
.serach_field_area {
    max-width: 225px;
    width: 100%;

    .search_field {
        position: relative;
        max-width: 225px;

        .search-image {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
        }

        input {
            border: 1px solid rgba(226, 232, 240, 1);
            outline: none;
            background: rgba(248, 250, 252, 1);
            border-radius: 4px;
            padding: 11px 18px 11px 35px;
            width: 100%;
            font-weight: 400;
            font-size: 12px;
            line-height: 24px;
            color: rgba(97, 107, 128, 1);
            width: 100%;
        }
    }
}


